# 운영체제 생성 파일
.DS_Store
._*
.Spotlight-V100/
.Trashes/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# 에디터 및 IDE 설정/임시 파일
.vscode/
.idea/
.vs/
.history/
*.swp
*.swo
*~
*.suo
*.user
*.tmp
*.temp
*.bak
